:root {
    --primaryShape: #a52c2c;
    --primaryShapeLight: #b44c4c;
    --primaryShapeDark: #801c1c;
    
    --primaryText: #a52c2c;    
    --primaryTextLight: #b44c4c;
    --primaryTextDark: #801c1c;
    
    --secondaryShape: #af3030;
    --secondaryText: #af3030;
    
    --background: #f2f2f2;
    --backgroundDark: #b3b3b3;
    --backgroundLight: #ffffff;
    --backgroundTemp: #e5e5e5;
    
    --text: #808080;
    --textLight: #ffffff;
}